.list {
    width: 100%;
    border: 1px solid black;
}
TD, TH {
    width: 20%;
    padding: 3px;
}
TH {
    text-align: left;
    background: black;
    color: white;
}
.create {
    border: 1px solid white;
}
.head {
    font-size: 200%;
    font-weight: bold;
    width: 60%;
}
.upper-head {
    border: solid black;
    border-width: 1px 1px 0 1px;
    width: 100%;
    font-size: 150%;
    font-weight: bold
}
.mini {
    width: 5% !important;
    font-size: 100%;
}